# --- .clang-tidy ---
Checks: >
  -*,
  bugprone-*,
  concurrency-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -bugprone-exception-escape

WarningsAsErrors: '*'
